#system files
*.DS_Store
*checkpoint.ipynb
*.ipynb_checkpoints
.python-version 
.idea/
/cnp/__pycache__/*
/tests/__pycache__/*
*.python-version

#dependencies
/tfm

#notes
/notes

#results
/experiments/results

#local requirements that can be used to run Jupiter notebooks 
local_requirements.txt

#private key
tfm_1.pem

#scratch_work
*/Untitled.ipynb

#data 
/data

#checkpoints
/cnp/checkpoints