#system files
*.DS_Store
*checkpoint.ipynb
*.ipynb_checkpoints
.python-version 
.idea/
/cnp/__pycache__/*
*.python-version

#dependencies
/tfm

#notes
/notes

#local requirements that can be used to run Jupiter notebooks 
local_requirements.txt

#private key
tfm_1.pem

#scratch_work
code/Untitled.ipynb

#data 
/data